
body {
    font-family: 'Poppins', sans-serif;
}

.nav-back {
    background: #202020;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #ffdf6c;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #ffffff;
}
.nav-link:hover {
    color: #ffdf6c;
}

.navbar-toggler {
    outline: none!important;
}

/* hero-img */

#hero {
    width: 100%;
    height: 80vh;
    background: url("./hospitalzeal.jpg") center;
    background-size: cover;
}
#hero .container {
    padding-top: 80px;
}
#hero::before {
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 80vh;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    color: #ffffff;
}
#hero h2 {
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: light;
    letter-spacing: 0.4px;
}

.main-btn {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
}
.main-btn:hover {
    background: #202020;
    border: 2px solid #202020;
    text-decoration: none;
    color: #ffffff;
}

/* Services */
.service {
    text-align: center;
    padding: 70px 20px;
    background: #202020;
    color: #ffffff;
}
.service .icon {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border-radius: 50px;
}
.service .icon i {
    font-size: 32px;
    line-height: 1;
    position: relative;
    color: #3f3f3f;
}
.service h4 {
    margin: 10px 0px 15px 0px;
    font-weight: bold;
    font-size: 24px;
}
.service p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
}

/* About Us */

.about-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.about-heading {
    text-transform: uppercase;
    color: #ffffff;
}
.about-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}
.about-heading-lower {
    display: block;
    font-size: 36px;
    font-weight: light;
}
.about-zeal {
    color: #ffffff;
}
.bg-faded {
    background: #3f3f3f;
}
.about-button .btn-color {
    background: #202020;
    color: #ffffff;
    font-weight: bold;
}
.about {
    position: relative;
}

@media screen and (min-width:992px){
    .about .about-img {
        width: 75%;
        float: right;
    }
    .about .about-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .about .about-text .about-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}
@media screen and(min-width:1200px){
    .about .about-text {
        width: 45%;
    }
}

/* Medical Staff */

.team {
    background: #ffffff;
}
.team .member {
    position: relative;
    box-shadow: 1px 2px 15px #202020;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
.team .member .image {
    overflow: hidden;
    width: 50%;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
.team .member .image .img {
    transition: ease-in-out 0.3s;
}
.team .member:hover .img {
    transform: scale(1.1);
}
.team .member h4 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
    color: #202020;
}
.team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: bold;
}
.tesm .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b5b3ba;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
}
.team .social {
    margin-top: 12px;
    display: flex;
    background: #b5b3ba;
    align-items: center;
    justify-content: center;
}
.team .social a {
    transition: ease-in-out 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    text-decoration: none;
}
.team .member .social a {
    color: #2f2f2f;
    font-size: 16px;
    margin: 0 2px;
}
.team .social a:hover {
    background: #ffdf6c;
}
